* {
  box-sizing: border-box;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
}

.fluid {
  max-width: 100%;
}

.columns {
  display: block;
  float: left;
  width: 100%
}

.grid:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.with-gutters .row:not(:first-child) .columns{
  margin-top: 2%;
}

@media screen and (min-width: 576px) {
  .one { width: 8.33333%; }
  .two { width: 16.66667%; }
  .three { width: 25%; }
  .four { width: 33.33333%; }
  .five { width: 41.66667%; }
  .six { width: 50%; }
  .seven { width: 58.33333%; }
  .eight { width: 66.66667%; }
  .nine { width: 75%; }
  .ten { width: 83.33333%; }
  .eleven { width: 91.66667%; }
  .twelve{ width: 100%; }

  .with-gutters .columns:not(:first-child) {
    margin-left: 2%;
  }
  
  .with-gutters .one { width: 6.5%; }
  .with-gutters .two { width: 15%; }
  .with-gutters .three { width: 23.5%; }
  .with-gutters .four { width: 32%; }
  .with-gutters .five { width: 40.5%; }
  .with-gutters .six { width: 49.0%; }
  .with-gutters .seven { width: 57.5%; }
  .with-gutters .eight { width: 66.0%; }
  .with-gutters .nine { width: 74.5%; }
  .with-gutters .ten { width: 83.0%; }
  .with-gutters .eleven { width: 91.5%; }
}
